:root {
  --page-width: 800px;

  --color-dark: #333333;
  --color-light: #f0f0f0;

  --font-sans: "Barlow Semi Condensed", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  line-height: 1.5;
  color: var(--color-dark);
  background: var(--color-light);
}

main {
  width: 100%;
}

header, section {
  display: flex;
  flex-direction: column;
}

header {
  & h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1rem;
  }

  & p {
    margin-bottom: 1rem;
  }
}

section {
  text-align: justify;
  padding: 1.5rem 6rem;

  & h2 {
    font-size: 1.33rem;
    font-weight: 700;
    text-decoration: underline;
  }

  & p {
    font-family: var(--font-sans);
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;

  & p {
    margin-right: 0.5rem;
  }
}

.section-separator {
  border-top: 1px solid var(--color-dark);
  margin: 0 6rem;
}

.spacer {
  margin: 0.75rem 0;
}

.section-header {
  margin-bottom: 0.5rem;
}

.section-text {
  text-align: justify;
}

.employment-title {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
}

.employment-company {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.employment-list {
  margin-left: 1rem; /* moves bullet point inside container */
}

.employment-bullet {
  margin-bottom: 0.3rem;
  text-align: justify;
  font-family: var(--font-sans);
  font-size: 0.85rem;
}

#a4 {
  width: var(--page-width);
  aspect-ratio: 1 / 1.42; /* approx. A4 W:H ratio */
  margin: 0 auto;
  margin-top: 3rem;
  background: #ffffff;
  box-shadow: 0px 0px 10px 2px #a4a4a4;
}

#head {
  align-items: center;
  justify-content: center;
  padding: 0; /* override section padding */
  background: var(--color-dark);
  color: var(--color-light);
}
